* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.app {
	user-select: none;
}

.stage {
	position: relative;
	height: 400px;
	width: 100%;
	padding: 10px;
	background: #D3D6B8;
}

#block {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	border: 1px solid white;
	border-radius: 50%;
	background: #5A899C;
	box-shadow: 0 0 5px 1px #3A3B42;
	transition: 0.5s ease-out;
}


.keyboard {
	position: sticky;
	bottom: 0;
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 100px;
	;
	background: #C5C5C5;
}

.arrow-key {
	width: 100%;
	padding: 10px;
	border: 1px solid #B5B5B5;
	border-radius: 5px;
	background: white;
	text-align: center;
	transition: 0.2s;
}

.arrow-key:active {
	background: #FFFFFF70;

}